<form method="post" action="/add">
    <label for="fname">Motherboard:</label><br>
    <input type="text" id="motherboard" name="motherboard"><br><br>
    <label for="lname">Processor:</label><br>
    <input type="text" id="processor" name="processor"><br><br>
    <label for="lname">OS:</label><br>
    <input type="text" id="os" name="os"><br><br>
    <label for="lname">Harddisk:</label><br>
    <input type="text" id="harddisk" name="harddisk"><br><br>
    <label for="lname">Memory:</label><br>
    <input type="text" id="memory" name="memory"><br><br>
    <input type="submit" value="Submit">
</form>