<h1>Ini data Computer</h1>
<div>
    <a href="/add">Add Computer</a><br/><br/>
    <table>
        <tr>
            <th>Motherboard</th>
            <th>Memory</th>
            <th>OS</th>
            <th>Processor</th>
            <th>Harddisk</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% computers.forEach(computer => { %>
            <tr>
                <td> <%= computer.motherboard %></td>
                <td><%= computer.memory %></td>
                <td><%= computer.os %></td>
                <td><%= computer.processor %></td>
                <td><%= computer.harddisk %></td>
                <td>
                    <a href="/update/<%= computer.id %>">Edit Data</a>
                </td>
                <td>
                    <a href="/delete/<%= computer.id %>">Delete Data</a>
                </td>
            </tr>
       <% }) %>        
    </table>
</div>