<form method="post" action="/update/<%= computer.id %>">
    <label for="fname">Motherboard:</label><br>
    <input type="text" id="motherboard" name="motherboard" value="<%= computer.motherboard %>"><br><br>
    <label for="lname">Processor:</label><br>
    <input type="text" id="processor" name="processor" value="<%= computer.processor %>"><br><br>
    <label for="lname">OS:</label><br>
    <input type="text" id="os" name="os" value="<%= computer.os %>"><br><br>
    <label for="lname">Harddisk:</label><br>
    <input type="text" id="harddisk" name="harddisk" value="<%= computer.harddisk %>"><br><br>
    <label for="lname">Memory:</label><br>
    <input type="text" id="memory" name="memory" value="<%= computer.memory %>"><br><br>
    <input type="submit" value="Submit">
</form>